@import './../../assets/scss/variables.scss';


/deep/ .tab-view-container .ui-tabmenu-nav {
    border: 0 !important;
    background: transparent !important;

    .ui-tabmenuitem.ui-state-active {
        border: 1px solid $color-tab-active !important;
        background-color: $color-tab !important;
        border-radius: $gap-4;
    }

    .ui-tabmenuitem {
        border: 1px solid $color-red !important;
        background-color: $color-light-gray !important;
        margin-right: $gap-2 !important;
        margin-bottom: -1px !important;
    }

    .ui-menuitem-link {border-radius: 0}
    .ui-menuitem-link  {
        padding: $gap-10 $gap-20 + 2 !important;
        font-size: $font-size-22  !important;
    }
}
.view-container {
    padding: 1% 2%;
    overflow: hidden;
}

.tab-view {
    padding: 1% 2%;
    border: $gap-2 solid $color-light-red;
}

 