/* VARIABLES  */

/* Font sizes */

$font-size-18 : 18px;
$font-size-20 : 20px;
$font-size-22 : 22px;
$font-size-25 : 25px;

/* Margins and Padding */

$gap-2: 2px;
$gap-4: 4px;
$gap-6: 6px;
$gap-8: 8px;
$gap-10: 10px;
$gap-20: 20px;


/* brand colors */

$color-lightblue: #EBF5FB;
$color-darkblue: #025aa594;
$color-black: #000;
$color-blue: blue;
$color-light-blue: #607D8B;
$color-dark-blue: #007bff;
$color-sky-blue: #dae3f3;
$color-light-dust: #6e89a4;
$color-light-red: #e4e4e4;
$color-tab-active: #007ad9;
$color-tab: #0275d8;
$color-red: #c8c8c8;
$color-dark-red: #bd2130;
$color-error: #E23B3B;
$color-light-gray: #f4f4f4;
$color-gray: grey;
$color-yellow: #FFEB3B;
$color-light-yellow: #fff2cc;
$color-green: #009688;
$color-light-green: #1e7e34;
